* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F9E0AE;
    height: 124px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menu img {
    width: 135px;
    padding-top: 35px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-top: 50px;
    font-weight: 700;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
}

.menu button {
    color: #ffffff;
    font-weight: 700;
    width: 150px;
    height: 39px;
    border: none;
    border-radius: 10px;
    background-color: #C24914;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
}

.wrapper {
    margin-left: 200px;
    margin-right: 200px;
}

.info-block-one {
    width: 1080px;
    height: 487px;
}

.info-block-one h1, p, button {
    margin-bottom: 35px;
}

.info-block-one h1 {
    width: 428px;
    font-size: 48px;
    font-weight: 700;
}

.info-block-one p {
    width: 550px;
    color: rgba(0, 0, 0, 0.46);
    font-size: 20px;
    font-weight: 400;
}

.info-block-one button {
    width: 200px;
    height: 44px;
    border-radius: 10px;
    background-color: #682C0E;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.textblock {
    margin-top: 140px;
}

.info-block-one .banner {
    position: relative;
    left: 550px;
    bottom: 380px;
}

.info-block-one .banner img {
    width: 487px;
    height: 487px;
}

.info-block-two {
    width: 1040px;
    height: 379px;
}

.info-block-two h1 {
    width: 407px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-block-two ul {
    font-size: 24px;
    font-weight: 400;
}

.info-block-two ul li {
    margin-bottom: 20px;
}

.textblock2 {
    position: relative;
    left: 600px;
    bottom: 330px;
}

.info-block-two .banner2 img {
    width: 480px;
    height: 379px;
}

.info-block-three {
    width: 1060.314px;
    margin-top: 230px;
}

.info-block-three h1 {
    width: 530px;
    font-size: 48px;
    font-weight: 600;
}

.info-block-three .banner3 {
    position: relative;
    left: 550px;
    bottom: 230px;
}

.info-block-three .banner3 img {
    width: 439.314px;
    height: 292.642px;
}